extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Welcome to Lotus Restaurant, where culinary artistry meets a warm and inviting atmosphere. We take pride in serving exquisite dishes inspired by the rich and diverse flavors of Asian cuisine. Our restaurant is more than just a place to eat; it's an experience that combines tradition, innovation, and a commitment to excellence.
        | <br /><br />
        | Our Story: 
        |  Lotus Restaurant was founded by a passionate team of friends and food enthusiasts who shared a vision: to bring the authentic taste of India and Hyderabad. With years of culinary expertise, we embarked on a journey to create a dining establishment that celebrates the essence of Hyderabad through its cuisine.
        | <br /><br />
        | At Lotus Restaurant, we believe that food is not just sustenance; it's a form of art. Our culinary philosophy revolves around three core principles:
        |<br><h4>Fresh Ingredients:</h4> We source the finest, freshest ingredients to craft dishes that burst with flavor and aroma. Our commitment to quality starts from selecting the ingredients and extends to the careful preparation of each dish.
        |<br><h4>Fusion of Flavors:</h4> We celebrate the diversity of Indian cuisine by blending traditional recipes with contemporary techniques. The result is a menu that offers a harmonious fusion of flavors, textures, and colors.
        |<br><h4>Exceptional Service:</h4> Our dedicated staff is committed to providing exceptional service, ensuring that your dining experience at Lotus Restaurant is memorable and enjoyable.
        