doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title  Lotus Restaurant
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') LOTUS
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/menu/') Menu
            li
              a(href='/about/') About  
            li 
              a(href='/login/') Login
            li
              a(href='/contact/') Contact

    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; Simon Holmes 2023

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')