extends layout

block content
  .jumbotron
    h1 Menu
    p.Check out our delicious offerings!

  .row
    .col-md-6
      h2 Appetizers
      ul
        li Fried Calamari
        li Bruschetta
        li Mozzarella Sticks

    .col-md-6
      h2 Main Courses
      ul
        li Spaghetti Bolognese
        li Margherita Pizza
        li Grilled Salmon

  .row
    .col-md-6
      h2 Desserts
      ul
        li Tiramisu
        li Chocolate Cake
        li Gelato

  .row
    .col-md-6
      h2 Beverages
      ul
        li Soft Drinks
        li Iced Tea
        li Coffee

  hr

  p Please contact us for the latest menu and seasonal specials.
